.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ;
  position: relative;
}

.movie-details {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-left: 100px;
  margin-right: 100px;
}

.pic {
  padding: 10px;
  height: 50vh;
  border-radius: 16px;

  margin: 50px;
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-right: 50px;
}
.button {
  height: 40px;
  border: none;
  border-radius: 6px;
  padding: 20px;
  margin-left: 10px;
}
.input-search {
  height: 50px;
  width: 130px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #667d7f;
  padding-right: 40px;
  color: rgb(30, 22, 22);
}
.input-search::placeholder {
  color: rgba(7, 4, 4, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
